<h1>スケジュール一覧</h1>
	<%= link_to "新規作成", "/tasks/new" %>
	<table class="table">
		<tr>
			<th>ID</th><th>タイトル</th><th>開始日</th><th>終了日</th><th>終日</th><th>更新日時</th>
		</tr>
		<% @task.each do |task| %>
		<tr>
			<td><%= task.id %></td>
			<td><%= task.title %></td>
			<td><%= task.start_day.to_s %></td>
			<td><%= task.end_day.to_s %></td>
			<td><% if task.all_day == true %>
                ○
            <% else task.all_day == false %><% end %></td>
			<td><%= task.updated_at.to_s(:datetime_jp) %></td>
			<td><%= link_to "詳細" %></td>
			<td><%= link_to "編集" %></td>
			<td><%= link_to "削除" %></td>
		</tr>
		<% end %>
	</table>